body {
    font-family: Arial, sans-serif;
    background-color: #F6E96B;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.subbody{
    justify-content: center;
    align-items: center;
    padding: 10px;  
}

.container {
    align-items: center;
    width: 60vw;

    border: solid rgb(4, 158, 55);
    background: rgb(84, 210, 132);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}